# Numbers

In [2]:
a = 10

In [8]:
b = 20.5

In [9]:
a + b

30.5

In [11]:
type(b)

float

In [25]:
type(a)

int

In [13]:
c= 10.5

In [14]:
d = 25.5

In [15]:
c+d

36.0

In [16]:
type(c+d)

float

#Arithmatic Operations

In [17]:
a+b

30.5

In [18]:
a*b

205.0

In [19]:
a/d

0.39215686274509803

In [20]:
d-c

15.0

In [21]:
a//b

0.0

In [22]:
b//a

2.0

In [24]:
abs(-1)

1

# String

In [26]:
a="ITM FCS"

In [28]:
a[0]

'I'

sting indexing

In [29]:
a[::3]

'I S'

In [30]:
a[::2]

'IMFS'

In [31]:
a[::-1]

'SCF MTI'

In [32]:
a="The Quick brown fox jumps over the lazy dog"

In [33]:
a[4:-4:3]

'Qcbwf m et z'

CONCAT

In [48]:
a= "HAI"

In [35]:
b=10

In [36]:
c=a+b

TypeError: can only concatenate str (not "int") to str

In [49]:
d= "ALL"

In [51]:
e= a+d

In [52]:
e

'HAIALL'

In [40]:
e.islower()

False

In [41]:
e.islower()

False

In [53]:
e.isupper()

True

In [54]:
d.isupper()

True

In [46]:
help(d.isupper)

Help on built-in function isupper:

isupper() method of builtins.str instance
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

In [56]:
e.center(0)

'HAIALL'

In [57]:
help(d.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [58]:
e.istitle()

False

In [59]:
help(e.istitle)

Help on built-in function istitle:

istitle() method of builtins.str instance
    Return True if the string is a title-cased string, False otherwise.

    In a title-cased string, upper- and title-case characters may only
    follow uncased characters and lowercase characters only cased ones.

# LIST [ ]

In [1]:
my_list=[1,2,3,"Hai",{"KEY":"Value"}]

In [2]:
my_list[]

SyntaxError: invalid syntax (<ipython-input-2-642d03a6fdb2>, line 1)

In [3]:
my_list[::]

[1, 2, 3, 'Hai', {'KEY': 'Value'}]

In [4]:
my_list[0]

1

In [5]:
my_list[-1]

{'KEY': 'Value'}

In [6]:
len(my_list)

5

Slicing and Dicing

In [19]:
my_list[-1:]

[5]

In [8]:
my_list=['one','two','three','four']

In [9]:
my_list[1:]

['two', 'three', 'four']

In [10]:
my_list[:3]

['one', 'two', 'three']

In [16]:
my_list + [1,2,3,4,5] # adding new elements

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
my_list = [1,2,3,4,5] #reassigning the list

In [13]:
my_list

[1, 2, 3, 4, 5]

In [18]:
my_list*2  #multiplying thge lsit

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Basic Methods in List

In [20]:
my_list

[1, 2, 3, 4, 5]

In [21]:
my_list.clear()

In [22]:
my_list

[]

In [35]:
my_list = [1,2,3,4,5,1]

In [24]:
my_list

[1, 2, 3, 4, 5]

In [25]:
my_list.append(12345)

In [26]:
my_list

[1, 2, 3, 4, 5, 12345]

In [27]:
my_list.copy()

[1, 2, 3, 4, 5, 12345]

In [28]:
help(my_list.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [29]:
my_list_new=["hai Saravana"]

In [30]:
my_list_new.append(my_list.copy())

In [31]:
my_list

[1, 2, 3, 4, 5, 12345]

In [32]:
my_list_new

['hai Saravana', [1, 2, 3, 4, 5, 12345]]

In [33]:
my_list.count()

TypeError: count() takes exactly one argument (0 given)

In [36]:
my_list.count(1)

2

In [46]:
my_list.insert(2,'R') # need to pass location and value

In [38]:
my_list

[1, 2, 'R', 3, 4, 5, 1]

In [39]:
my_list.remove("2")

ValueError: list.remove(x): x not in list

In [40]:
my_list.remove(2)

In [41]:
my_list

[1, 'R', 3, 4, 5, 1]

In [42]:
my_list.reverse()

In [43]:
my_list

[1, 5, 4, 3, 'R', 1]

In [45]:
my_list.sort()# str and int in a list ,sort wont work

TypeError: '<' not supported between instances of 'str' and 'int'

# Dictionaries{}

In [47]:
my_dict={1:"A",2:"B"}

In [48]:
my_dict

{1: 'A', 2: 'B'}

In [49]:
my_dict[2]

'B'

In [51]:
my_dict={1:"A",2:"B",3:[1,2,3,4,5],4:{1:"abc"}}

In [52]:
my_dict[3]

[1, 2, 3, 4, 5]

In [53]:
my_dict[4][1]

'abc'

In [54]:
my_dict

{1: 'A', 2: 'B', 3: [1, 2, 3, 4, 5], 4: {1: 'abc'}}

In [59]:
my_dict.update([3:[12345,67890]])

SyntaxError: invalid syntax (<ipython-input-59-a31b9e9bbe1e>, line 1)

In [56]:
help(my_dict.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [60]:
my_dict.keys()

dict_keys([1, 2, 3, 4])

In [61]:
my_dict.values()

dict_values(['A', 'B', [1, 2, 3, 4, 5], {1: 'abc'}])

In [62]:
my_dict.get(4)

{1: 'abc'}

In [63]:
my_dict.pop(3)

[1, 2, 3, 4, 5]

In [65]:
x = ('key1', 'key2', 'key3')
y = 0

my_new_dict = dict.fromkeys(x, y)


print(my_new_dict)

{'key1': 0, 'key2': 0, 'key3': 0}

# Tuples ()

ordered seq of immutable objects

In [67]:
tup = (1,2,3,4,5,6)

In [68]:
tup.count(1)

1

In [69]:
tup.index(4)

3

# Set & Boolean

In [70]:
x= set()

In [71]:
x.add(1)

In [72]:
x

{1}

In [73]:
x.add(2)

In [74]:
x

{1, 2}

In [77]:
y = set()

In [78]:
y.add(4)

In [79]:
y.add(5)

In [83]:
y.add(1)

In [84]:
y

{1, 4, 5}

In [85]:
x.union(y)

{1, 2, 4, 5}

In [86]:
x.intersection(y)

{1}

In [87]:
y.symmetric_difference(x)

{2, 4, 5}

In [88]:
x

{1, 2}

In [89]:
y

{1, 4, 5}

In [90]:
y.symmetric_difference(x)

{2, 4, 5}

In [91]:
x.symmetric_difference(y)

{2, 4, 5}

In [93]:
x.copy()

{1, 2}

In [95]:
y.add(x.copy())

TypeError: unhashable type: 'set'

In [96]:
x.symmetric_difference_update(y)

# BOOLEAN

In [97]:
True

True

In [98]:
true

NameError: name 'true' is not defined

In [99]:
False

False